<a href="https://colab.research.google.com/github/Narmadakumbhkar/python/blob/main/_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=2
b=5
c=a+b
print(c)

7

In [ ]:
a=int(input("enter a frist no.:"))
b=int(input("enter a second no:"))
c=a+b
print(c)

enter a frist no.:10
enter a second no:20
30

In [ ]:
s=int(input("enter a 1st value:"))
p=int(input("enter a 2nd value:"))
R=s-p
print("total value is=",R)

enter a 1st value:30
enter a 2nd value:10
total value is= 20

In [ ]:
a=int(input("Enter Any number:"))
no=a*a
print("Result is=",no)

Enter Any number:20
Result is= 400

In [ ]:
p=int(input("princple= "))
R=int(input("rate= "))
T=int(input("time= "))
s=p*R*T/100
print("Result is =" ,s)

princple= 200
rate= 2
time= 2
Result is = 8.0

In [ ]:
l=int(input("length="))
w=int(input("width="))
ractangle=l*w
print("ractangle of area=",ractangle)

length=20
width=10
ractangle of area= 200

In [ ]:
r=float(input("enter redius value : "))
s=3.14*r*r
print("circle area=",s)

enter redius value : 5
circle area= 78.5

In [ ]:
## operators in python
# Type casting in python

a=float(2)             #float
print(a)

2.0

In [ ]:
a=int(3.45)            #integer type   (calculation posible)
print(a)
b=2
c=a+b
print(c)

3
5

In [ ]:
a=str(3)               #string type    (calculation not posible)
print(a)

3

In [ ]:
(1) #Arithmetic operators ====>  (+,-,/,*,%)
(2) #Relational operators ====>  (==,>,<,>=,<=,!=)
(3) #Assignment operators ====>  (=,+=,-=,*=,/=,%=)
(4) #Logical operators   ====>   (and=(dono value true=true),or=(dono me ek value bhi true=true),not=(true=false,false=true))
(5) #Membership operators ====>  (in,not in)
(6) #Identity operators   ====>  (is,is not)

In [ ]:
#Relational operators
a=2
b=3
c=a==b
print(c)

False

In [ ]:
a=3
b=3
c=a==b
print(c)

True

In [ ]:
a=2
b=3
c=a!=b
print(c)

True

In [ ]:
a=2
b=3
c=a<b
print(c)

True

In [ ]:
a=2    #Assignment opretors
b=3
b+=a
print(c)
print(b)

True
5

In [ ]:
a=2                    #membership opretors
list=[1,2,3,4,5]
if(a in list):
  print("yes")
else:
  print("No")

yes

In [ ]:
a=2
l=[1,2,3,4,5]
if(a in l):
  print("true")
else:
  print("false")

true

In [ ]:
a=3
l=[1,2,3,4,5]
if(a not in l ):
  print("yes")
else:
  print("No")

No

In [ ]:
x=6                     #identity operater
if(type(x) is int):
  print("true")
else:
  print("false")

true

In [ ]:
y=10.32
if(type(y) is int):
  print("true")
else:
  print("false")

false

In [ ]:
z=20.34
if(type(z)is float):
  print("true")
else:
  print("false")

true

In [ ]:
a=60
if(type(a) is not int):
  print("True")
else:
  print("False")

False

In [ ]:
## String & string methods in python (collection of chacter)

name="My name is nikku"
print(name)

My name is nikku

In [ ]:
name=input("enter your name= ")
print("Hi !" +name)

enter your name= nikku
Hi !nikku

In [ ]:
## Method Name       
# (1) length()           #(include space)

Data="python course"
x=len(Data)
print(x)

13

In [ ]:
# (2) lower()

Data="Narmada Kumbhkar"       # (frist leter smal)
y=(Data.lower())
print(y)

narmada kumbhkar

In [ ]:
# (3) upper()

data="Python course"           # (all letter capital) 
a=(data.upper())
print(a)

PYTHON COURSE

In [ ]:
# replace()

a="python course"
b=(a.replace("course","classes"))
print(b)

python classes

In [ ]:
#split()

r="my name is nikku"
s=(r.split())
print(s)

['my', 'name', 'is', 'nikku']

In [ ]:
# capitalize()

s="my name is narmada"     # (frist word frist letter capital)
t=(s.capitalize())
print(t)

My name is narmada

In [ ]:
# center()

a="my name"
b=(a.center(50))
print(b)
c=(a.center(25))
print(c)
d=(a.center(75))
print(d)
e=(a.center(100))
print(e)
f=(a.center(79))
print(f)

                     my name
         my name
                                  my name
                                              my name
                                    my name

In [ ]:
# endswith()

G="python course"
H=(G.endswith("se"))    # (end word end value =true only ,otherwise false)
print(H)
j=(G.endswith("on"))
print(j)
k=(G.endswith("py"))
print(k)

True
False
False

In [ ]:
#find()

A="python course"
B=(A.find("o"))
print(B)

4

In [ ]:
# index()

a="python course"
b=(a.index("n"))
print(b)

5

In [ ]:
# isalpha()

s="python course"   #( string ke ander alphabet he to = true,space nhi hona chaheye)
p=(s.isalpha())
print(p)

False

In [ ]:
s="pythoncourse"
p=(s.isalpha())
print(p)

True

In [ ]:
# isdigite

a="12345"
b=(a.isdigit())
print(b)

True

In [ ]:
# isspace()

j="python course"
k=(j.isspace())
print(k)

False

In [ ]:
a="   "
b=(a.isspace())
print(b)

True

In [ ]:
# istitle()

a="python course"       # (frist letter capital=true,otherwish=false)
b=(a.istitle())
print(b)

False

In [ ]:
a="Python Course"       #(frist word capitle=true)
b=(a.istitle())
print(b)

True

In [ ]:
# count()

a="i like apple and also like mango"
b=(a.count("like"))
print(b)

2

In [ ]:
# join()

list=["nikku","reenu","princi"]
x="**".join(list)
print(x)

nikku**reenu**princi

In [ ]:
list=["nikku","reenu","princi"]
x="  ".join(list)
print(x)

nikku  reenu  princi

In [ ]:
## python collections
("list","Tuple","Set","Dictionaries")

# (1)#LIist===>   # list is a collection which is ordered.
               # and changeable. allows duplicate items.
               # you can create with square brackets

In [ ]:
list=["nikku","renu","princi","chikku"]
print(list)

['nikku', 'renu', 'princi', 'chikku']

In [ ]:
l=["a","b","c","d","e","f"]
l[1]="s"
print(l)
l[4]="(1,2,3)"
print(l)
l[5]="{nikku}"
print(l)
l.append("p")
print(l)
l.append("a")
print(l)
l.remove("{nikku}")
print(l)

del l               # (list pehle he delite ho gai h to print karne pr error aayege)


l=["a","b","c","d"]   # (list iteams clear=empty list)
l.clear()
print(l)

['a', 's', 'c', 'd', 'e', 'f']
['a', 's', 'c', 'd', '(1,2,3)', 'f']
['a', 's', 'c', 'd', '(1,2,3)', '{nikku}']
['a', 's', 'c', 'd', '(1,2,3)', '{nikku}', 'p']
['a', 's', 'c', 'd', '(1,2,3)', '{nikku}', 'p', 'a']
['a', 's', 'c', 'd', '(1,2,3)', 'p', 'a']
[]

In [ ]:
#(2)# Tuple====>  # tuple is also a collection which is ordered.
                  # and unchangeable Allows duplicate items.
                  # you can create tuple with round brackets or parentheses

In [ ]:
A = ("monitor","printer","mouse","keyboard")
print(len(A))

4

In [ ]:
a=("nikku","chikku","princi","reenu")
b=("kumbhkar","sen","meena","gupta")
c=a+b
print(c)

('nikku', 'chikku', 'princi', 'reenu', 'kumbhkar', 'sen', 'meena', 'gupta')

In [ ]:
e=("a","b","c","d","e","f")           #count()
x=e.count("a")
print(x)

1

In [ ]:
e=("a","b","c","d","e")              #index()
y=e.index("d")
print(y)

3

In [ ]:
## (3) Set()===> # A set is also a collection which is unordered
             # and unindexed. can not add duplicate item.
             # you can create set with curly brackets.

In [ ]:
H = {"a","b","c","d","e","f"}
print(H)
H.add("c")           #(not add dublicate)
print(H)
H.add("g")           #(add new items)
print(H)
H.update(["apple","banana","grapes","mango"])   #(add muiltiple items== update())
print(H)

{'f', 'c', 'a', 'e', 'b', 'd'}
{'f', 'c', 'a', 'e', 'b', 'd'}
{'f', 'c', 'a', 'g', 'e', 'b', 'd'}
{'banana', 'f', 'c', 'a', 'g', 'grapes', 'e', 'b', 'apple', 'mango', 'd'}

In [ ]:
  ## (4) Dictionary()==> # A dictionary is a collection which is unordered,
                        # changeable and indexed.
                        # you can create dictionary with curly brackets
                        # and they have keys and values.

In [ ]:
mobile = {"brand":"nokia",
          "model":"Ta-1056",
          "year":"2022"}
mobile["year"]=2023
print(mobile)
print()
print(len(mobile))           #len()
print()

mobile["color"]= "Black"
print(mobile)
print()

mobile.pop("model")         #pop()
print(mobile)
#or

del mobile["year"]           #delite()
print(mobile)

mobile.clear()               #clear()
print(mobile)

{'brand': 'nokia', 'model': 'Ta-1056', 'year': 2023}

3

{'brand': 'nokia', 'model': 'Ta-1056', 'year': 2023, 'color': 'Black'}

{'brand': 'nokia', 'year': 2023, 'color': 'Black'}
{'brand': 'nokia', 'color': 'Black'}
{}

In [ ]:
mobile = {"brand":"nokia",
          "model":"Ta-1056",
          "year":"2022"}
    
phone=mobile.copy()                                         #copy()
print(phone)

{'brand': 'nokia', 'model': 'Ta-1056', 'year': '2022'}

In [ ]:
## python conditionas(if statements)
# if
a=5
b=3
if a>b:
  print("a is greater than b ")

a is greater than b

In [ ]:
# if-else syntax
a=3
b=5
if a>b:
  print("true")
else:
  print("false")

false

In [ ]:
a=int(input("enter frist no.= "))
b=int(input("enter second no.= "))
if a>b:
  print("true")
else:
  print("false")

enter frist no.= 10
enter second no.= 5
true

In [ ]:
age =int(input("enter your age =  "))
if age >= 18:
  print("you are eligible for voting")
else:
  print("you are not eligible for voting")

enter your age =  20
you are eligible for voting

In [ ]:
no=int(input("enter any number= "))
if no%2==0:
  print("the number is even no.")
else:
  print("the number is odd no.")

enter any number= 20
the number is even no.

In [ ]:
## simple Elif syntax:

a=int(input("enter 1st number: "))
b=int(input("enter 2nd number: "))
if a>b:
  print("a is greater than b")
elif a==b:
  print("a and b are equal")
else:
  print("b is greater than a")

enter 1st number: 4
enter 2nd number: 8
b is greater than a

In [ ]:
## simple nested-if syntax:

a=40
if a>10:
  print("greater then 10,")
  if a>20:
    print("and also greater 20!")
  else:
    print("but not greater 20.")

greater then 10,
and also greater 20!

In [ ]:
a=19
if a>10:
  print("greater then 10,")
  if a>20:
    print("and also greater 20!")
  else:
    print("but not greater 20.")

greater then 10,
but not greater 20.

In [ ]:
a=int(input("enter 1st number= "))
b=int(input("enter 2nd number= "))
c=int(input("enter 3rd number= "))
if a>b and a>c:
  print("a is greater than b and c")
if b>a and b>c:
  print("b is greater than a and c")
elif a==b and a==c:
  print("a,b and c are equal")
else:
  print("c is gerater than a and b")

enter 1st number= 3
enter 2nd number= 8
enter 3rd number= 1
b is greater than a and c

In [ ]:
a=int(input("enter 1st number= "))
b=int(input("enter 2nd number= "))
c=int(input("enter 3rd number= "))
if a>b and a>c:
  print("a is greater than b and c")
if b>a and b>c:
  print("b is greater than a and c")
elif a==b and a==c:
  print("a,b and c are equal")
else:
  print("c is gerater than a and b")

enter 1st number= 20
enter 2nd number= 10
enter 3rd number= 100
c is gerater than a and b

# loops in python
# while & for loops

# (1) while loop

In [ ]:
i = 1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 2
while i<=40:
  print(i)
  i+=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

In [ ]:
# the break statement


i=1                   # break
while i < 7:
  print(i)
  if i == 4:
    break
  i += 1

1
2
3
4

In [ ]:
i = 0                    # continue
while i < 7:
  i += 1
  if i == 4:
    continue
  print(i)

1
2
3
5
6
7

In [ ]:
i=1
while i < 7:
  i +=3
  if i ==4:
    continue
  print(i)

7

## **for loop**

In [ ]:
a = ["x","y","z"]
for w in a:
  print(w)

x
y
z

In [ ]:
for x in range(7):
  print(x)

0
1
2
3
4
5
6

In [ ]:
for x in range(2,7):
  print(x)

2
3
4
5
6

In [ ]:
for x in range(2,20,2):
  print(x)

2
4
6
8
10
12
14
16
18

In [ ]:
a=int(input("input any no. for printing table= "))
for x in range(1,11):
  b=a*x
  print(a,"*",x,"=",b)

input any no. for printing table= 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
b=int(input("enter your no.= "))
for x in range(2,40,6):
  c=b*x
  print(b,"*",4,"=",c)

enter your no.= 6
6 * 4 = 12
6 * 4 = 48
6 * 4 = 84
6 * 4 = 120
6 * 4 = 156
6 * 4 = 192
6 * 4 = 228

# functions in pythion

In [ ]:
# A Function is a block of code that performs a specific task.
# TYPES OF FUNCTIONS-
(1)# Built in functions
(2)# User defined function

In [ ]:
a=2
b=3
c=max((a,b))
print(c)

3

In [ ]:
x=10
y=20
z=sum((x,y))
print(z)

30

In [ ]:
a=2                                 # user defined function()
def my_function():
  b=a*a
  print(b)
my_function()

4

In [ ]:
def percentage(tot):
  per = tot/500*100
  return per
phy=86
che=90
math=55
hindi=80
eng=88
tot=sum((phy,che,math,hindi,eng))
result = percentage(tot)
print("your total no. is ",tot)
print("your percentage is",result)

your total no. is  399
your percentage is 79.80000000000001

In [ ]:
def printline():                                      # printline()
  print("............................")
def percentage(tot):
  per = tot/5
  return per
hindi=98
english=64
maths=98
sanskrit=98
science=95
social_science=86
tot=sum((hindi,english,maths,sanskrit,science))
result = percentage(tot)
printline()
print("your total no.is",tot)
printline()
print("your percentege is",result)
printline()

............................
your total no.is 453
............................
your percentege is 90.6
............................

In [ ]:
def percentage(tot):
  per = tot/5
  return per
h=55
e=73
s=67
ss=70
m=81
tot=sum((h,e,s,ss,m))
result= percentage(tot)
print("your total no.",tot)
print("..........................")
print("your percentage is ",result)
print("..........................")

your total no. 346
..........................
your percentage is  69.2
..........................

# lambda function in python

In [ ]:
# one line function or anonymous function.

In [ ]:
def sqt(a):
  print(a*a)
sqt(2)

4

In [ ]:
sqt = lambda a : a*a           # lambda()
print(sqt(2))

4

In [ ]:
sqt = lambda b:b*b
print(sqt(6))

36

In [ ]:
tot = lambda x,y :x+y
print(tot(20,40))

60

In [ ]:
mult = lambda s,t,q,r:s*t*q*r
print(mult(11,22,33,44))

351384

# Modules in python

In [ ]:
# A module is file containing functions which can be imported and used in our programs.
## you can use module by using two methotds.
#pre created modules-
#(1) using Built in modules - it is pre installed in python.
#(2) using external modules - you have to install before using.

In [ ]:
import time;
localtime = time.asctime(time.localtime(time.time()))
print(localtime)

Sat May 14 19:05:54 2022

In [ ]:
import calendar;
cal = calendar.month(2022,4)
print("calendar:")
print(cal)

calendar:
     April 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

# file handling in python

In [ ]:
# two type of file in python-
(1)# Text files (ex.txt)
(2)# Binary files(.jpg,.dat)