<a href="https://colab.research.google.com/github/Narmadakumbhkar/python/blob/main/Module1_Py_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  MODULE 1:  Python    Fundamentals

### Basics

In [ ]:
# Hello  World
print("Hello World")

Hello World

In [ ]:
#Indentation : Correct Way 
if True:
    print ("True")
else:
    print ("False")

True

In [ ]:
# Indentation : Improper 
if True:
    print ("Answer")
    print ("True")
else:
    print ("Answer")
print ("False")

Answer
True
False

In [ ]:
# Multiline
item_one = 1
item_two = 2
item_three = 3
total = item_one + \
        item_two + \
        item_three
print("Total = ",total)

Total =  6

In [ ]:
# Array elements declaration 
Day_of_Week = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
                  
print("1st Week day is ",Day_of_Week[0])

1st Week day is  Mon

In [ ]:
# Multiple commands in one line 
x=4; y=5; z = x + y ; print("z = x +y = ",z)

z = x +y =  9

In [ ]:
#Multiple values to multiple variables
a,b,c = 1,2,"john"
print(a,b,c)

1 2 john

### Strings   Lists and Tuples  and Dictionaries

In [ ]:
# Strings
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:7])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo W
llo World!
Hello World!Hello World!
Hello World!TEST

In [ ]:
# lists
list1 = ['abcd', 1234, 23.2, 'pqr', 99 ]
sublist1 = [1234, 'abcd']

print (list1)          # Prints complete list
print (list1[0])       # Prints first element of the list
print (list1[1:3])    # Prints elements starting from 2nd till 3rd 
print (list1[2:])      # Prints elements starting from 3rd element
print (sublist1 * 2)  # Prints list two times
print (list1 + sublist1) # Prints concatenated lists

list1[1] = 25        # change second element of a list 
print(list1)         # Prints entire list

['abcd', 1234, 23.2, 'pqr', 99]
abcd
[1234, 23.2]
[23.2, 'pqr', 99]
[1234, 'abcd', 1234, 'abcd']
['abcd', 1234, 23.2, 'pqr', 99, 1234, 'abcd']
['abcd', 25, 23.2, 'pqr', 99]

In [ ]:
# tuples - Read only lists 
tuple1 = ('abcd', 1234, 23.2, 'pqr', 99)
subtuple1 = (1234, 'abcd')

print (tuple1)           # Prints complete list
print (tuple1[0])        # Prints first element of the list
print (tuple1[1:3])      # Prints elements starting from 2nd till 3rd 
print (tuple1[2:])       # Prints elements starting from 3rd element
print (subtuple1 * 2)   # Prints list two times
print (tuple1 + subtuple1) # Prints concatenated lists

('abcd', 1234, 23.2, 'pqr', 99)
abcd
(1234, 23.2)
(23.2, 'pqr', 99)
(1234, 'abcd', 1234, 'abcd')
('abcd', 1234, 23.2, 'pqr', 99, 1234, 'abcd')

In [ ]:
# Dictionary 
dict1 = {}
dict1['one'] = "Alpha"
dict1[2]     = "Beta"
dict1[2]     = "Gamma"

dict2 = {'Name': 'Joe','roll':1234, 'Dept': 'Sales'}

print (dict1['one'])     # Prints value for 'one' key
print (dict1[2])         # Prints value for 2 key
print (dict1)            # Prints complete dictionary
print (dict2.keys())     # Prints all the keys
print (dict2.values())   # Prints all the values

Alpha
Gamma
{'one': 'Alpha', 2: 'Gamma'}
dict_keys(['Name', 'roll', 'Dept'])
dict_values(['Joe', 1234, 'Sales'])

### Basic operators

In [ ]:
#----------------------------------------
# Arithmetic Operators 
a = 11
b = 5
c = 0
x = 2
y = 5
#------------------------------------
c = a + b # sum 
print("a+b = ",c)

c = a - b  #subtraction 
print("a-b = ",c) 

c = a * b # Multiplication 
print("a*b = ",c) 

c = a / b # Division 
print("a/b = ",c)

c = a // b # Division 
print("a//b = ",c)

c = a % b # Modulo Division 
print("a%b = ",c)

c = x**y # exponent
print("x**y = ",c)

a+b =  16
a-b =  6
a*b =  55
a/b =  2.2
a//b =  2
a%b =  1
x**y =  32

 ### Comparison Operators

In [ ]:
#

# WRITE A PYTHON PROGRAM TO PRINT FIZZ IF THE NUMBER IS DIVISIBLE BY 3 . IF THE NUMBER IS DIVISIBLE BY 5 PRINT BUZZ IF IT IS DIVISIBLE BY BOTH PRINT FIZZ BUZZ.

 TAKE INPUT FROM USER

In [ ]:
n=int(input("Enter a number"))

if n%3==0 and n%5==0:
 print("fizz buzz")
elif n%3==0:
 rint("fizz1")
elif n%5==0:
  print("buzz")
else:
  print()

Enter a number15
fizz buzz

In [ ]:
# Set variable values 
a = 21;b = 1;c = 0;0

0

In [ ]:
# If- Else Structure
a,b=10,15
if a>b:
  print("a>b")
# elif a<b:
#   print("b is greater")
else:
  print("equal")

equal

In [ ]:
# Equality check 
if ( a == b ):  
   print ("Line 1 - a is equal to b")
if( a>b):
  print("greater")
# elif a>b:
#   print("a is greater than b")

else:
   print ("Line 1 - a is not equal to b")

Line 1 - a is not equal to b

In [ ]:
if ( a != b ):  # NOT operator check 
   print ("Line 2 - a is not equal to b")
else:
   print ("Line 2 - a is equal to b")

In [ ]:
a = 21;b = 10;c = 0

In [ ]:

if ( a < b ): # Less than check 
   print ("Line 4 - a is less than b" )
else:
   print ("Line 4 - a is not less than b")

Line 4 - a is not less than b

In [ ]:
if ( a > b ): # Greater than check 
   print ("Line 5 - a is greater than b")
else:
   print ("Line 5 - a is not greater than b")

Line 5 - a is greater than b

In [ ]:
a = 21;b = 10;c = 0

if ( a <= b ):  # Less than equal 
   print ("Line 6 - a is either less than or equal to  b")
else:
  print ("Line 6 - a is neither less than nor equal to  b")

Line 6 - a is neither less than nor equal to  b

In [ ]:
if ( b >= a ):  # Greater than equal 
   print ("Line 7 - b is either greater than  or equal to b")
else:
   print ("Line 7 - b is neither greater than  nor equal to b")

Line 7 - b is neither greater than  nor equal to b

### Assignment Operators

In [ ]:

a = 15
b = 10
c = 0

c = a + b
print ("Line 1 - Value of c is ", c)

c += a
print ("Line 2 - Value of c is ", c )

c *= a
print ("Line 3 - Value of c is ", c )

c /= a 
print ("Line 4 - Value of c is ", c )

Line 1 - Value of c is  25
Line 2 - Value of c is  40
Line 3 - Value of c is  600
Line 4 - Value of c is  40.0

In [ ]:
c  = 2
print ("Line 5 - Value of c is ", c)

c **= a
print ("Line 6 - Value of c is ", c)

c //= a
print ("Line 7 - Value of c is ", c)

Line 5 - Value of c is  2
Line 6 - Value of c is  32768
Line 7 - Value of c is  2184

In [ ]:
c %= a 
print("Line 8 - Value of c is ", c)

Line 8 - Value of c is  9

### Logical Operators

In [ ]:
# AND 
a = 1; b = -2.5
if (a and b): 
   print ("Both 'a' and 'b' !=0") 
else:
   print ("Either 'a' or 'b' or both =0")

Both 'a' and 'b' !=0

In [ ]:
# OR
a = 0; b = 0
if (a or b): 
   print ("at least one of 'a' or 'b' !=0") 
else:
   print (" both 'a' and 'b' =0")

 both 'a' and 'b' =0

In [ ]:
# NOT
a = 4; b = 6
if not (a>b): 
   print ("a is <= b") 
else:
   print ("a is > b ")

a is <= b

### Membership operator

In [ ]:
a = 10
b = 2
list1= [1, 2, 3, 4, 5 ];

if ( a in list1 ):
   print ("Line 1 - a is available in the given list")
else:
   print ("Line 1 - a is not available in the given list")

if ( b not in list1 ):
   print ("Line 2 - b is not available in the given list")
else:
   print ("Line 2 - b is available in the given list")

Line 1 - a is not available in the given list
Line 2 - b is available in the given list

### End of Module 1 - Fundamentals